* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
}

body {
    background-color: #cbd2db;
    padding: 1rem;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

.container {
    background-color: white;
    border-radius: 1rem;
    width: fit-content;
    text-align: center;
    padding: 1rem;
    filter: drop-shadow(0 9px 7px rgb(0 0 0 / 0.1));
}

.center {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.horizontal-center {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-form {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

input,
button {
    padding: 0.5rem 1rem;
    background-color: inherit;
    border-radius: 0.5rem;
    border: 1px solid gray;
    outline: none;
    transition: all 0.4s;
    transform: translateY(0.2rem);
}

input:hover,
input:not([type="checkbox"]):focus,
button:hover,
button:focus {
    border-color: lightskyblue;
    transform: translateY(0rem);
}

input[type="checkbox"] {
    appearance: none;
    width: 2rem;
    height: 0.3rem;
    cursor: pointer;
    transition: 0.4s all;
}

input[type="checkbox"]:checked {
    background-color: lightskyblue;
}

input[type="checkbox"]::before {
    content: " ";
    width: 0.8rem;
    aspect-ratio: 1;
    position: absolute;
    background-color: black;
    transform: translateY(-0.4rem) translateX(-0.9rem);
    border-radius: 999px;
    transition: 0.4s all;
}

input[type="checkbox"]:checked::before {
    transform: translateY(-0.4rem) translateX(0.1rem);
}

button {
    cursor: pointer;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    overflow: hidden;
}

th,
td {
    border: 1px solid gray;
    outline: none;
    padding: 0.5rem;
    text-align: left;
}

/* first row corners */
tr:first-child th:first-child,
tr:first-child td:first-child {
    border-top-left-radius: 0.5rem;
}

tr:first-child th:last-child,
tr:first-child td:last-child {
    border-top-right-radius: 0.5rem;
}

/* last row corners */
tr:last-child th:first-child,
tr:last-child td:first-child {
    border-bottom-left-radius: 0.5rem;
}

tr:last-child th:last-child,
tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* optional stripe */
}

.set {
    color: lightgreen;
}

.unset {
    color: red;
}

.set,
.unset {
    font-weight: bold;
}
